ul.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

ul.home li {
    width: 40%;
    padding: 1rem;
    border: 1px solid var(--twitter-dark);
    border-radius: 8px;
}

ul.home li article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

ul.home li article h3 {
    color: var(--twitter-blue);
}

ul.home li article p:nth-of-type(2) {
    font-weight: 900;
    color: var(--twitter-dark);
}