<header>
    <h1>Twitter</h1>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url "home" %}" class="btn">Home</a>
                </li>
                <li>
                    <a href="new" class="btn">Postar</a>
                </li>
                <li>
                    <a href="{% url "logout" %}" class="btn">Sair</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "signup" %}" class="btn">Cadastrar</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>